header{
    background-color: #BBBBBB;
    padding: 2px 0;
}

body{
    font-family: "Roboto",sans-serif;
    background-color: rgb(35, 72, 107);

    background-image: url("imagenes/fondo.jpg");
    background-position: center;
    background-size: 80%;
}

h1{    
    text-align: center;
    font-size: 30px
}
